<h3 class="latin-quote">“Nemo censetur ignorare legem”</h3>
<div class="footer">
    <div class="contact">
    <h4>Kontakt</h4>
    <p>Telefon: 123 - 123123</p>
    <p>Mail: help@advokaterna.se</p>
    </div>
    <div class="contact">
    <h4>Sociala medier</h4>
        <a href="{{ page.url }}">
            <img src="{{ base_url }}/themes/shared/img/square-facebook.svg" alt="fb">
        </a>
        <a href="{{ page.url }}">
            <img src="{{ base_url }}/themes/shared/img/square-twitter.svg" alt="fb">
        </a>
    </div>
</div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
